<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yofficial">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.hardware.sensor.proximity"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HyunWooActivity"></activity>
        <activity android:name=".JaeWonActivity"></activity>
        <activity android:name=".JoonHongActivity"></activity>
        <activity android:name=".YouTubeActivity" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".DBActivity"></activity>
        <activity android:name=".VideoListActivity"></activity>
        <activity android:name=".CreateRecipeActivity"></activity>
        <activity android:name=".CitrusActivity"></activity>
        <activity android:name=".RefregActivity"></activity>
        <activity android:name=".Refreg_PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".IngreSearchActivity"></activity>
        <activity android:name=".eval_popup" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".Ingre_SearchAdapter"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".StartActivity"></activity>
        <activity android:name=".RecommendActivity"></activity>
        <activity android:name=".MyPageActivity"></activity>
        <activity android:name=".Recommend_PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".CommunityActivity"></activity>
        <activity android:name=".BoardActivity"></activity>
        <activity android:name=".CommentActivity"></activity>
        <activity android:name=".BoardMakeActivity"></activity>
        <activity android:name=".BoardEditActivity"></activity>
        <activity android:name=".IngrePopupActivity"  android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".MyBoards"></activity>
        <activity android:name=".MyCommentActivity"></activity>
        <activity android:name=".MyRecipeActivity"></activity>


    </application>

</manifest>